*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    padding: 0px 20px 0px 20px;
}
.gold {
    margin: 20px 0px 20px 0px;
}
.result {
    width: 120px;
    height: 30px;
    border: 2px black solid;
    display: inline-block;
    text-align: center;
}
.sub_container {
    display: flex;
    justify-content: space-around;
}
.sub_container form {
    border: 2px black solid;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 60px 0px 0px 0px;
}
p {
    margin: 10px 0px 10px 0px;
}
.display_logs {
    width: inherit;
    height: 150px;
    border: 2px black solid;
    overflow: scroll;
}
li {
    color: green;
}
.red {
    color: red;
}
.reset {
    margin: 20px 0px 0px 0px;
    width: 100px;
    height: 25px;
}